.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgba(78, 71, 255, 0.06);
} 
/* shered styles */
.btn{
    font-family: "RaleWay";
    font-size: bold;
    color: #FFFFFF;
    font-size: 16px;
    background-color: #4E47FF;
    height: 48px;
    /* width: 132px; */ 
    border-radius: 5px;
    border: none;
    padding:0 20px;
}
.btn:hover{
    background-color: #4d47ff81; ;
}
/* Part-1: Header*/
.p1{
    margin: 60px auto;
    height: 700px;
    width: 1440px;
    align-content: center;
    background-image: url("Assets/Hero-bg.png");
}
.p11{
    margin:  auto; 
    height: 150px;
    width:1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p111{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
    font-family: 'Inter';

}
.p12{
    margin: 160px auto;
    height: 240px;
    width: 910px;
    text-align: center;
}
.p121{
    font-family: "Raleway";
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 40px;
}
.p2{
    display: flex;
    justify-content: space-between;
    height: 328px;
    width: 1140px;
    margin:0 auto;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.p21{
    height: 203px;
    width:517px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.p211{
    font-family: "raleway";
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.p212{
    font-family: "raleway";
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 0;
}
.p221{
    border-radius: 20px;
}
.p3{
    border: 1px solid black;
    height: 300px;
    width: 1140px;
    margin: 60px auto;
    background-color:rgba(78, 71, 255, 0.1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    align-content: center;
    text-align: center;
}
.p31{
    font-family: "raleway";
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.p32{
    display:flex;
    justify-content: space-around;
    margin-top: 40px;
}
.p3211{
    font-family: "inter";
    font-size: 80px;
    font-weight: bold;
    color:#4E47FF;
}
.p32111{
    font-size: 20px;
    font-weight: 400px;
    font-family: 'inter';
    color:rgba(0, 0, 0, 0.5);
}
.p4{
    height: 400px;
    width: 1140px; 
    margin: 0 auto;
    text-align: center;
    align-content: center;
}
.p41{
    font-family: 'raleway';
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    gap:20px
}
.card{
    width: 367px;
    height: 243px;
    text-align: left;
    /* border: 2px solid yellow; */
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
    align-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 

}
.card-title{
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 600;
    color:#1E1E1E;
    margin-top: 24px;
}
.card-description{
    font-family: "inter";
    font-size: 16px;
    color:#1E1E1E;
    margin-top:8px;
}
.u{
    display: flex;
    /* justify-content: left; */
    margin-top: 24px;
    gap:12px;

}
.pic{
    border-radius: 100%;
}
.user{
    font-size: 16px;
    font-weight: 600;
    color:#757575;
    font-family: "Inter";
}
.date{
    font-size: 16px;
    color:#B3B3B3;
    font-family: "Inter";
}
.p5{
    height: 690px;
    width: 1140px; 
    margin: 60px auto; 
    align-content: center;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.p51{
    font-family: "Raleway";
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
}
.p52{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.5);
    margin:20px auto;
}
.p54{
    border-radius: 20px;
    margin:20px auto;
}
.p6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 650px;
    width: 1140px; 
    margin: 0 auto;
}
.p61{
    font-family: "Raleway";
    font-size: 97px;
    font-weight: bold;
    width: 528px;
    height: 232px;
}
.p62{
    width:497px;
    height: 490px;
}
.p621{
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
}
.p622{
 width: 497px;
 height: 70px;
 font-family: "Inter";
 font-size: 20px;
 color: rgba(0, 0, 0, 0.5);
 padding-left: 20px; 
 border-radius: 5px;
 border: none;
 margin: 15px 0px;
 box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.05);
}
.p623{
   width: 497px;
   height: 135px; 
   border-radius: 5px;
   border: none;
   margin: 15px 0px;
   width: 497px;
   font-family: "Inter";
   font-size: 20px;
   color: rgba(0, 0, 0, 0.5);
   padding-left: 20px; 
   border-radius: 5px;
}
.btn1{
    width: 497px;
    height: 62px;
    box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.05);
}
.p7{
    max-width: 1640px;
    max-height: 428px;
    background-color: #FFFFFF;
    text-align: center;
}
.p71{
    font-family: "Inter";
    font-size: 100px;
    font-weight: 900;
    color:#4E47FF;
    padding-top: 104px;
}
.p72{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color:#8987A1;
    margin-bottom: 20px;
}
.p73{
    display: flex;
    justify-content: center;
    gap:48px;
}
